html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#dinoName {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 24px;
}
#dinoName img {
  max-width: 300px;
  border-radius: 4px;
  margin-top: 16px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.divBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
}
